<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
      .header-table{
        background: #43a0ff;
        width: 150px;
        font-weight: bold;
      }
      table, th, td {
        border: 1px solid black;
      }
      table{
        border-collapse: collapse;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
      .title-table{
        font-size: 14px;
        font-weight: bold;
      }
      ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
      }
      li {
        padding: 0px;
        margin: 0px;
      }
      .critical {
        background: #ff3333;
        padding: 5px;
        color: white;
        font-size: 12px;
      }
      .info {
        background: #139e02;
        padding: 5px;
        color: white;
        font-size: 12px;
      }
    </style>
  
  </head>
  <body>

    <span class="title-table">DADOS DO CLIENTE:</span>
    <table style="width:100%" cellpadding="5">
      <tr>
        <td class="header-table">CLIENTE</td>
        <td th:text="${nome_cliente}"></td>
      </tr>
    </table>
    
    <span class="title-table">DADOS DO EVENTO:</span>
    <table style="width:100%" cellpadding="5">
      <tr>
        <td class="header-table">NÍVEL</td>
        <td style="padding: 10px;">
          <span th:text="${nivel_formatted}" th:classappend="${nivel}"></span>
        </td>
      </tr>
      <tr>
        <td class="header-table">DESCRIÇÃO</td>
        <td th:text="${descricao}"></td>
      </tr>
    </table>

    <span class="title-table">DADOS ENVIADOS PARA:</span>
    <table style="width:100%" cellpadding="5">
      <tr>
        <td class="header-table">DATA</td>
        <td th:text="${data}"></td>
      </tr>
      <tr>
        <td class="header-table">HORÁRIO</td>
        <td th:text="${horario}"></td>
      </tr>
      <tr>
        <td class="header-table">E-MAIL</td>
        <td>
          <div style="display: grid;">
            <span th:each="email : ${emails}" th:text="${email}"></span>
          </div> 
        </td>
      </tr>
    </table>

  </body>
</html>